<div class="page-title">
    <div class="title">Manual Journals</div>
    <div class="sub-title">All Journals</div>
</div>

<div class="card bg-white m-b">
    <div class="card-header">Journals Table
        <button type="button" class="btn pull-right" data-ng-click="vm.addJournal()">Add New Journal</button>
    </div>
    <div class="card-block p-a-0">
        <div class="table-responsive">
            <table class="table m-b-0">
                <thead>
                    <tr>
                        <th class="col-md-1">
                            <span></span>DATE</th>
                        <th class="col-md-1">JOURNAL #</th>
                        <th class="col-md-2">REFERENCE NUMBER</th>
                        <th class="col-md-2">AMOUNT</th>
                        <th class="col-md-1">NOTES</th>
                        <th class="col-md-1">ACTION</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <span>13 Feb 2017</span></td>
                        <!--<td><img class="img-circle" data-ng-src="{{student.photo}}" alt="" height="50px" width="50px"></td>-->
                        <td>1</td>
                        <!--<td class="align-middle">
                            {{student.address}}
                        </td>-->
                    
                        <td>
                            1
                        </td>
                        <td class="align-right">
                            PHP 3,0000
                        </td>
                        <td>
                            <i class="glyphicon glyphicon-list-alt"></i>
                        </td>
                        <td>
                            <button type="button" ng-click="vm.editStudent(student.$id)" class="btn btn-sm row">
				<i class="glyphicon glyphicon-pencil"></i>
			</button>

                            <button type="button" ng-click="vm.removeStudent(student.$id)" class="btn btn-sm btn-danger">
				<i class="glyphicon glyphicon-trash">
				</i>
			</button>
                        </td>
                    </tr>


                </tbody>
            </table>
        </div>

        <div simple-grid="myGridConfig"></div>
    </div>
</div>