<div class="page-title">
    <div class="title">New Journal</div>


    <!--<div class="sub-title">Native form elements</div>-->
</div>
<!--<div class="card bg-white">-->
<!--<div class="card-header">
            Default Bootstrap elements
        </div>-->
<div class="card-block">
    <div class="row m-a-0">

        <p>{{response}}</p>
        <div class="col-lg-5">
            <form class="form-horizontal" role="form" ui-jq="validate">
                <div class="form-group">
                    <label class="col-sm-3 control-label"><b>Date</b></label>
                    <div class="col-sm-9">
                        <input type="date" class="form-control" ng-model="vm.journal.date">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label"><b>Reference #</b></label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" required minlength="5" ng-model="vm.journal.reference">
                        <!--<p class="help-block">Example block-level help text here.</p>-->
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label"><b>Notes</b></label>
                    <div class="col-sm-9">
                        <!--<input type="text" class="form-control input-rounded">-->
                        <textarea name="" class="form-control input-rounded" id="" rows="3" ng-model="vm.journal.notes"></textarea>
                    </div>
                </div>
                <!--<div class="form-group">
                    <label class="col-sm-3 control-label"><b>Journal Type</b></label>
                    <div class="col-sm-9">
                        <div class="checkbox">
                            <label>
<input type="checkbox">Cash based journal</label>
                        </div>

                    </div>
                </div>-->

                <!--<div class="form-group">
                    <label class="col-sm-3 control-label"><b>Currency</b></label>
                    <div class="col-sm-9">
                        <select class="form-control">
<option>PHP - Philippine Peso</option>
<option>PHP - Philippine Peso</option>
<option>PHP - Philippine Peso</option>
<option>PHP - Philippine Peso</option>
<option>PHP - Philippine Peso</option>
</select>

                    </div>
                </div>-->

            </form>

            <!--<p>Journal Entries: {{vm.journalEntries | json}}</p>-->

            <!--<p>{{vm.contacts | json}}</p>-->

        </div>
    </div>
</div>


<div class="wraper">

    <p>{{journalEntries}}</p>

    <p>Line: {{vm.line}}</p>
    <table class="table table-bordered table-hover table-condensed" style="width:75%">
        <thead>
            <tr>
                <!--<th style="width:10%"><b>Name</b></th>
                <th style="width:10%"><b>Date Of Birth</b></th>
                <th style="width:10%"><b>Email Id</b></th>
                <th style="width:10%"><b>Phone No.</b></th>
                -->
                <th style="width:15%"><b>Account</b></th>
                <th style="width:15%"><b>Description</b></th>
                <th style="width:20%"><b>Contact</b></th>
                <th style="width:10%"><b>Tax</b></th>
                <th style="width:10%"><b>Debit</b></th>
                <th style="width:10%"><b>Credit</b></th>
                <!--<th style="width:10%"><b>Action</b></th>-->


            </tr>
        </thead>
        <tbody>
            <tr ng-repeat=" tableData in journalEntries " ng-dblclick="modify(tableData)" ng-keyup="$event.keyCode == 13 ? update(tableData, vm.line) : null">


                <td>
                    <div ng-hide="editingData[tableData.id] ">{{tableData.accountName}}</div>
                    <div ng-show="editingData[tableData.id]">
                        <!--<p>{{vm.selectedAccount}}</p>-->
                        <ui-select ng-model="vm.line.selectedAccount" title="Choose a account">
                            <ui-select-match placeholder="Account">{{$select.selected.acct_name}}</ui-select-match>
                            <ui-select-choices group-by="'acct_type_name'" repeat="account in vm.accounts | filter: $select.search">
                                <span ng-bind-html="account.acct_name | highlight: $select.search"></span>
                                <!--<small ng-bind-html="account.acct_id | highlight: $select.search"></small>-->
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </td>



                <td>
                    <div ng-hide="editingData[tableData.id] ">{{tableData.entry_desc}}</div>
                    <div ng-show="editingData[tableData.id]" ng-if="editingData[tableData.id]==true?vm.line.desc=tableData.entry_desc: null">
                        <textarea placeholder="Description" class="form-control" ng-model="vm.line.desc " cols="10" rows="1"></textarea>
                    </div>
                </td>



                <td style="width: 300px">
                    <div ng-hide="editingData[tableData.id] ">{{tableData.contactName}}</div>
                    <div ng-show="editingData[tableData.id]">
                        <!--<p>{{vm.selectedContact}}</p>-->
                        <ui-select ng-model="vm.line.selectedContact" title="Choose a contact">
                            <ui-select-match placeholder="Contact">{{$select.selected.contact_company_name}}</ui-select-match>
                            <ui-select-choices group-by="'contact_company_name'" repeat="contact in vm.contacts | filter: $select.search">
                                <span ng-bind-html="contact.contact_company_name | highlight: $select.search"></span>
                                <!--<small ng-bind-html="account.acct_id | highlight: $select.search"></small>-->
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </td>


                <td>
                    <div ng-hide="editingData[tableData.id] ">{{tableData.tax}}</div>
                    <div ng-show="editingData[tableData.id]">
                        <!--<p>{{vm.selectedContact}}</p>-->
                        <ui-select ng-model="vm.line.selectedTax" title="Choose a tax">
                            <ui-select-match placeholder="Tax">{{$select.selected.tax_name}}[{{$select.selected.tax_rate_percentage}}]</ui-select-match>
                            <ui-select-choices repeat="t in vm.tax | filter: $select.search">
                                <span ng-bind-html="t.tax_name | highlight: $select.search"></span>[{{t.tax_rate_percentage}}]
                                <!--<small ng-bind-html="account.acct_id | highlight: $select.search"></small>-->
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </td>

                <!--<td>
                    <div ng-hide="editingData[tableData.id] ">{{tableData.tax}}</div>
                    <div ng-show="editingData[tableData.id] "><input type="text " ng-model="tableData.tax " /></div>
                </td>-->

                <td>
                    <div ng-hide="editingData[tableData.id] ">{{tableData.entry_debit}}</div>
                    <div ng-show="editingData[tableData.id]" ng-if="editingData[tableData.id]==true?vm.line.entry_debit=tableData.entry_debit: null"><input class="form-control" type="number" ng-model="vm.line.entry_debit" placeholder="Debit" /></div>
                </td>

                <td>
                    <div ng-hide="editingData[tableData.id] ">{{tableData.entry_credit}}</div>
                    <div ng-show="editingData[tableData.id]" ng-if=" editingData[tableData.id]==true?vm.line.entry_credit=tableData.entry_credit: null "><input class="form-control " type="number" ng-model="vm.line.entry_credit " placeholder=" entry_credit " /></div>
                </td>
            </tr>
        </tbody>
    </table>
    <button type="button " class="btn btn-default " ng-click="add(); ">Add new line</button>
    <br>
    <br>
    <button type="button " class="btn btn-default " ng-click="saveJournal(); ">Save</button>

</div>




</div>
</div>