<div class="page-title">
    <div class="title">New Journal</div>


    <!--<div class="sub-title">Native form elements</div>-->
</div>
<!--<div class="card bg-white">-->
<!--<div class="card-header">
            Default Bootstrap elements
        </div>-->
<div class="card-block">
    <div class="row m-a-0">
        <div class="col-lg-5">
            <form class="form-horizontal" role="form" ui-jq="validate">
                <div class="form-group">
                    <label class="col-sm-3 control-label"><b>Date</b></label>
                    <div class="col-sm-9">
                        <input type="date" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label"><b>Reference #</b></label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" required minlength="5">
                        <!--<p class="help-block">Example block-level help text here.</p>-->
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label"><b>Notes</b></label>
                    <div class="col-sm-9">
                        <!--<input type="text" class="form-control input-rounded">-->
                        <textarea name="" class="form-control input-rounded" id="" rows="3"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label"><b>Journal Type</b></label>
                    <div class="col-sm-9">
                        <div class="checkbox">
                            <label>
<input type="checkbox">Cash based journal</label>
                        </div>

                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label"><b>Currency</b></label>
                    <div class="col-sm-9">
                        <select class="form-control">
<option>PHP - Philippine Peso</option>
<option>PHP - Philippine Peso</option>
<option>PHP - Philippine Peso</option>
<option>PHP - Philippine Peso</option>
<option>PHP - Philippine Peso</option>
</select>

                    </div>
                </div>

            </form>

            <p>Journal Entries: {{vm.journalEntries | json}}</p>
        </div>
    </div>
</div>

<!--<div>
    <label>COUNTRY</label><br>
    <ui-select ng-model="user.country" style="min-width: 300px;">
        <ui-select-match placeholder="Select Country">
            <span ng-bind="$select.selected.name"></span>
        </ui-select-match>
        <ui-select-choices repeat="country in countries | filter: {name: $select.search}" group-by="'continent'">
            <span ng-bind="country.name"></span>
        </ui-select-choices>
    </ui-select>
</div>

<div>
    <label>Accounts</label><br>
    <span editable-ui-select="journal.account" ng-model="journal.account" style="min-width: 300px;">
                        <editable-ui-select-match placeholder="Select Account">
                            <span ng-bind="$select.selected.name"></span>
    </editable-ui-select-match>
    <editable-ui-select-choices repeat="account in accounts | filter: {name: $select.search}" group-by="'type'">
        <span ng-bind="account.name"></span>
    </editable-ui-select-choices>
    </span>
</div>-->


<div class="row m-a-0">
    <div class="col-sm-offset-1 col-sm-11 centered" style="width:80%">
        <table class="table table-bordered table-hover table-condensed">
            <tr style="font-weight: bold;">
                <!--<td style="width:10%">User</td>-->
                <td style="width:30%">Accounts</td>
                <td style="width:30%">Description</td>
                <td style="width:30%">Contacts</td>
                <td style="width:30%">Tax</td>
                <td style="width:30%">Debit</td>
                <td style="width:30%">Credit</td>

                <!--<td style="width:20%">Status</td>
                <td style="width:20%">Group</td>
                <td style="width:20%">Action</td>-->
            </tr>


            <tr ng-repeat="journal in vm.journalEntries">
                <td>

                    <!--{{'journal'+($index+1)}}-->
                    <span editable-ui-select="vm.journal.accounts" e-form="rowform" e-name="journal" name="journal" e-ng-model="{{'journal'+($index+1)}}">
    <editable-ui-select-match 
    placeholder="Select Account" 
    style="width: 200px">
        {{$select.selected.acct_name}}
    </editable-ui-select-match>
    <editable-ui-select-choices repeat="account in vm.accounts | filter: {acct_name: $select.search}" group-by="'acct_type_name'">
                        <span ng-bind="account.acct_name"></span>
                    </editable-ui-select-choices>
                    {{ vm.showAccount(journal) }}
                    </span>

                </td>



                <!--Description field-->
                <td>
                    <!--editable description (textarea with validation) -->
                    <a href="#" editable-textarea="journal.desc" e-rows="3" e-cols="40">
                        {{ journal.desc || 'empty' }}
                    </a>
                    <!--{{ user.desc || 'empty' }}-->
                    </span>
                </td>

                <td style="white-space: nowrap">
                    <!-- form -->
                    <form editable-form name="rowform" onbeforesave="vm.saveJournalEntry($data, $index)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == user">
                        <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
            save
          </button>
                        <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">
            cancel
          </button>
                    </form>
                    <div class="buttons" ng-show="!rowform.$visible">
                        <button type="button" class="btn btn-primary" ng-click="rowform.$show()">edit</button>
                        <button type="button" class="btn btn-danger" ng-click="vm.removeJournalEntry($index)">del</button>
                    </div>
                </td>
            </tr>
        </table>

        <button type="button" class="btn btn-default" ng-click="vm.addJournalEntry();  rowform.$visible();">Add row</button>

    </div>
</div>
</div>