<div class="brand">

  <!-- toggle small sidebar menu -->
  <!--<a href="javascript:;" class="toggle-apps hidden-xs" ng-click="toggle.quickLaunch = !toggle.quickLaunch">
    <i class="icon-grid"></i>
  </a>-->
  <!-- /toggle small sidebar menu -->

  <!-- toggle offscreen menu -->
  <div class="toggle-offscreen">
    <offscreen class="visible-xs"></offscreen>
  </div>
  <!-- /toggle offscreen menu -->

  <!-- logo -->
  <a class="brand-logo">
    <span>COMPACCT</span>
  </a>
  <a href="#" class="small-menu-visible brand-logo">C</a>
  <!-- /logo -->

</div>

<!--<div ng-if="toggle.quickLaunch">
  <ul class="quick-launch-apps">
    <li>
      <a ui-sref="app.apps.gallery" ng-click="toggle.quickLaunch = !toggle.quickLaunch">
        <span class="app-icon bg-danger text-white">
          G
        </span>
        <span class="app-title" translate="menu.GALLERY"></span>
      </a>
    </li>
    <li>
      <a ui-sref="app.apps.messages" ng-click="toggle.quickLaunch = !toggle.quickLaunch">
        <span class="app-icon bg-success text-white">
          M
        </span>
        <span class="app-title" translate="menu.MESSAGES"></span>
      </a>
    </li>
    <li>
      <a ui-sref="app.apps.social" ng-click="toggle.quickLaunch = !toggle.quickLaunch">
        <span class="app-icon bg-primary text-white">
          S
        </span>
        <span class="app-title" translate="menu.SOCIAL"></span>
      </a>
    </li>
    <li>
      <a ui-sref="app.apps.travel" ng-click="toggle.quickLaunch = !toggle.quickLaunch">
        <span class="app-icon bg-info text-white">
          T
        </span>
        <span class="app-title" translate="menu.TRAVEL"></span>
      </a>
    </li>
  </ul>
</div>-->

<!-- main navigation -->
<nav role="navigation" side-navigation ng-if="!toggle.quickLaunch">

  <ul class="nav">

    <!-- dashboard -->
    <li ui-sref-active="active">
      <a href="#/">
        <i class="icon-compass"></i>
        <span translate="menu.DASHBOARD"></span>
      </a>
    </li>
    <!-- /dashboard -->

    <!-- contacts -->
    <li ui-sref-active="active">
      <a href="http://#" target="_blank">
        <i class="icon-user"></i>
        <span>Contacts</span>
      </a>
    </li>
    <!-- /contacts -->

     <!-- items -->
     <!-- data-ng-class="{open: $state.includes('app.commerce')}"-->
    <li>
      <a href="javascript:;">
        <i class="icon-handbag"></i>
        <span>Items</span>
      </a>
      <ul class="sub-menu">
        <li ui-sref-active="active">
          <a ui-sref="#">
            <span>Items</span>
          </a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="app.dashboard">
            <span>Price Lists</span>
          </a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="app.dashboard">
            <span>Item Adjustment</span>
          </a>
        </li>
      </ul>
    </li>
    <!-- /items -->

    <br/>

    <!-- sales -->
    <!-- data-ng-class="{open: $state.includes('app.commerce')}"-->
    <li>
      <a href="javascript:;">
        <i class="icon-basket"></i>
        <span>Sales</span>
      </a>
      <ul class="sub-menu">
        <li ui-sref-active="active">
          <a ui-sref="#">
            <span>Estimates</span>
          </a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="app.dashboard">
            <span>Retainer Invoices</span>
          </a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="app.dashboard">
            <span>Sales Order</span>
          </a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="app.dashboard">
            <span>Invoices</span>
          </a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="app.dashboard">
            <span>Payment Received</span>
          </a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="app.dashboard">
            <span>Recurring Invoices</span>
          </a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="app.dashboard">
            <span>Credit Notes</span>
          </a>
        </li>
      </ul>
    </li>
    <!-- /sales -->



    <!-- purchases -->
    <!--data-ng-class="{open: $state.includes('app.commerce')}"-->
    <li >
      <a href="javascript:;">
        <i class="icon-bag"></i>
        <span>Purchases</span>
      </a>
      <ul class="sub-menu">
        <li ui-sref-active="active">
          <a ui-sref="#">
            <span>Expenses</span>
          </a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="app.dashboard">
            <span>Recurrung Expenses</span>
          </a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="app.dashboard">
            <span>Purchases Orders</span>
          </a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="app.dashboard">
            <span>Bills</span>
          </a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="app.dashboard">
            <span>Payment Made</span>
          </a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="app.dashboard">
            <span>Recurring Bills</span>
          </a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="app.dashboard">
            <span>Vendor Credits</span>
          </a>
        </li>
      </ul>
    </li>
    <!-- /purchases -->

    <br/>


    <!-- accountant -->
    <!-- data-ng-class="{open: $state.includes('app.commerce')}"-->
    <li>
      <a href="javascript:;">
        <i class="icon-user-female"></i>
        <span>Accountant</span>
      </a>
      <ul class="sub-menu">
        <li ui-sref-active="active">
          <a ui-sref="app.journals.all">
            <span>Manual Journals</span>
          </a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="app.dashboard">
            <span>Chart of Accounts</span>
          </a>
        </li>
  
      </ul>
    </li>
    <!-- /accountant -->

    <!-- reports -->
    <li ui-sref-active="active">
      <a href="http://#" target="_blank">
        <i class="icon-graph"></i>
        <span>Reports</span>
      </a>
    </li>
    <!-- /reports -->



   

  </ul>
</nav>
<!-- /main navigation -->
